@model CustomLightCore.Models.Page

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_Layouts/_Main.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Page</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Alias" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PageContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PageContent" class="form-control" />
                <span asp-validation-for="PageContent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Created" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Updated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
