@model CustomLightCore.ViewModels.Cart.CartViewModel
<div class="carticon" id="carticon">

    <a asp-action="Details" asp-controller="Cart">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        @Html.DisplayFor(model => model.TotalQuantity)
        шт.
        <br/>
        @Html.DisplayFor(model => model.TotalPrice)
        руб.
    </a>
    
</div>

@*? 0 : Session["Cart"]; шт.<br>на <?= $_SESSION['cart']['grandTotal'] ?> руб*@
