<div class="header">
	<div class="col-md-2 logo">
		<a href="/"><img src="@Url.Action("GetLogotype", "Essentials", new { LogoType = "normal" })" class="img-responsive" alt="Логотип"></a>
	</div>
	
	<!-- Навбар -->
	<div class="col-lg-8 nav-line">
		@Html.Partial("~/Views/Shared/_NavBar.cshtml")
	</div>
	<!-- /Навбар -->
	<div class="col-md-2">
		<!--Виджет корзины-->
		@*<? include_once APP . "/views/" . TEMPLATE . "/common/carticon.tpl.php" ?>*@
			<!--/Виджет корзины-->
			<div class="h-line clearfix"></div>
			<div class="phone-number">
				<a href="#callback">@ViewBag.Essentials.Phone</a>
			</div>
		</div>
		<div class="clearfix"></div>

		<!--	Заказать звонок-->
		<div class="line-block col-md-12">
			<!-- Collect the nav links, forms, and other content for toggling -->
			@*<? include_once APP . "/views/" . TEMPLATE . "/common/callback.tpl.php" ?>*@
		</div>
		<!--	/Заказать звонок-->

		<div class="clearfix"></div>
	</div>