<!--Левое меню-->
<div class="rsidebar span_1_of_left col-md-2">
	<section class="sky-form">
		<div class="product_right">
			<h4 class="m_2">Категории</h4>
			<div class="tab1">
				@foreach (CustomLightCore.Models.Category category in ViewBag.Categories)
				{
					<a href="@Url.Action("Details", "Category", new { Id = category.Id })">
						<p>@category.Name</p>
					</a>
				}
			</div>
		</div>
	</section>
</div>
<!--/Левое меню-->