@model CustomLightCore.ViewModels.Projects.ProjectViewModel

@{
    ViewData["Title"] = "Редактирование Проекта.";
    Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Редактирование</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Проект</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortDescription" class="form-control"/>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Текущая иконка</label>
            <div class="col-md-10">
                <img src="@Url.Action("GetProjectIcon", "Projects", new { Model.Id })" class="img-responsive" alt="@Model.Name">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Icon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Icon" class="form-control"/>
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPublished"/>
                    <label asp-for="IsPublished"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryProjectId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryProjectId" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
        </div>
        <div id="existing-images">
            @{ await Html.RenderPartialAsync("_ExistingProjectImages"); }
        </div>
        <div class="form-group">
            <label asp-for="ProjectImages" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProjectImages" class="form-control" multiple/>
                <span asp-validation-for="ProjectImages" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
                @Html.ValidationSummary()
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script>
        CKEDITOR.replace('Description');
    </script>
    
    <script>
        $(function() {
            $(".existing-image").click(function() {
                var form = $('form');
                var formData = new FormData(form)
                var imageId = parseInt(this.id.replace("remove-existing-image-", ""));
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveExistingImage")",
                    data: form.serialize() + '&imageId=' + imageId,
                    success: function(html) {
                        //console.log(html);
                        $('#existing-images').html(html);
                    },
                    error: function(msg) {
                        console.log(msg);
                    }
                });
            });
        });

    </script>
}