@model CustomLightCore.ViewModels.ProductTypes.ProductTypeCreateViewModel

@for (var i = 0; i < Model.SpecificationTitles.Count; i++)
{
    <div class="form-group">
        <label asp-for="SpecificationTitle" class="col-md-2 control-label">Наименование свойства</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SpecificationTitles[i].Name)
            @Html.ValidationMessageFor(model => model.SpecificationTitles[i].Name)
@*            <span asp-validation-for="SpecificationTitle" class="text-danger"></span>*@
        </div>
    </div>
}