@using CustomLightCore.ViewModels.ProductTypes
@model ProductTypeCreateViewModel

@{
    ViewBag.Title = "Создание типов продуктов";
    Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Создание типа продукта</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Категория</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">Имя</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div id="specification-titles">

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="addSpecificationTitle" class="btn btn-default" value="Добавить свойство"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="List">
        <input type="button" class="btn btn-default" value="Вернуться к списку"/>
    </a>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function() {
            $("#addSpecificationTitle").click(function() {
                var form = $('form');
                $.ajax({
                    type: "POST",
                    url: "/ProductTypes/GenerateSpecificationTitle",
                    data: form.serialize(),
                    success: function(html) {
                        //console.log(html);
                        $('#specification-titles').html(html);
                    },
                    error: function(msg) {
                        console.log(msg);
                    }
                });
            });
        });
    </script>
}