@model CustomLightCore.ViewModels.Categories.CategoryEditViewModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Редактирование</h2>

<form asp-action="Edit" enctype="multipart/form-data">
	<div class="form-horizontal">
		<h4>Категория</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="Name" class="col-md-2 control-label">Наименование</label>
			<div class="col-md-10">
				<input asp-for="Name" class="form-control" required />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="col-md-2 control-label">Описание</label>
			<div class="col-md-10">
				<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="ShortDescription" class="col-md-2 control-label">Краткое описание</label>
			<div class="col-md-10">
				<input asp-for="ShortDescription" class="form-control" />
				<span asp-validation-for="ShortDescription" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label for="OldIcon" class="col-md-2 control-label">Текущая иконка</label>
			<div class="col-md-10">
				<img name="OldIcon" src="@Url.Action("GetCategoryIcon", "Categories", new { Id = Model.Id })" class="img-responsive" alt="@Model.Name">
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Icon" class="col-md-2 control-label">Новая Иконка</label>
			<div class="col-md-10">
				<input type="file" asp-for="Icon" class="form-control" />
				<span asp-validation-for="Icon" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Сохранить" class="btn btn-success" />
			</div>
		</div>
	</div>
</form>

<div>
	<a asp-action="List"><input type="button" class="btn btn-default" value="Вернуться к списку" /></a>
</div>

<script>
	CKEDITOR.replace('Description');
</script>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
